# log_file:           "./mail-backup.log"
# log_level:          "debug"  # debug, info, warning, error

imap_host:          "your.host"
imap_username:      "your.email"
imap_password:      "your.password"  # leave blank to be asked on execution. It's never a good idea to save passwords in plain text!!!

path:           "../{FOLDER}/{YEAR}{MONTH}{DAY}-{HOUR}{MINUTE}-{SUBJECT}-{FROM}-{UID}.eml"
# last_days:    7  # only download emails newer the last x days
# limit_days:   365  # only download emails older than last x days
delete:         false  # delete files on server after download
when_exists:    "compare"  # skip, overwrite, compare
